/* You can add global styles to this file, and also import other style files */

:root {
    --color1: #fff;
    --color1rgb: 255,255,255;
    --color2: #c6c6c6;
    --color3: #7A2219;
    --color4: #DD8A50;
    --color5: #DA8774;

    --primaryFont: "Raleway";
    --secondaryFont: "Montserrat";
}

html,
body {
    margin: 0;
    padding: 0;
}