<div class="menu">
    <div class="logo">
        <img src="./assets/img/logo.png" alt="">
    </div>
    <ul>
        <li> 
            <a href="http://">Sección 1</a> 
        </li>
        <li> 
            <a href="http://">Sección 2</a> 
        </li>
        <li> 
            <a href="http://">Sección 3</a> 
        </li>
        <li> 
            <a href="http://">Sección 4</a> 
        </li>
        <li> 
            <a href="http://">Sección 5</a> 
        </li>
        <li> 
            <a href="http://">Sección 6</a> 
        </li>
    </ul>
</div>